<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="video-container">
        <video id="roulette-video" src="" autoplay muted playsinline disablePictureInPicture disableRemotePlayback></video>
    </div>
    <div id="roulette-table">
        <!-- Генерация номеров рулетки -->
        {% for number in range(1, 37) %}
            <div class="number {% if number in [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36] %}red{% else %}black{% endif %}">{{ number }}</div>
        {% endfor %}
        <div class="number green">0</div>
    </div>
    <button id="startGameButton">Start Game</button>
    <div id="winner-message"></div>

    <script>
        const socket = io();
        let currentVideo = null;

        document.getElementById('startGameButton').addEventListener('click', () => {
            socket.emit('start_game');
        });

        socket.on('game_started', () => {
            document.getElementById('winner-message').innerText = 'Game Started...';
        });

        socket.on('game_result', (data) => {
            const result = data.result;
            document.getElementById('winner-message').innerText = `Result: ${result}`;
            // Запуск видео результата
            currentVideo = document.getElementById('roulette-video');
            currentVideo.src = `./static/frames/${result}.mp4`;
            currentVideo.play();
        });
    </script>
</body>
</html>